@import "tailwindcss";

body {
  @apply bg-zinc-50 dark:bg-zinc-950 text-zinc-950 dark:text-zinc-100;
}

.surface {
  @apply bg-white dark:bg-zinc-900;
}

.accent {
  position: absolute;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 0rem;
  background: radial-gradient(
      77.73% 77.73% at 98.52% 96.25%,
      #f98bda 0%,
      rgba(128, 76, 239, 0.29) 50.52%,
      rgba(91, 216, 216, 0) 100%
    ),
    radial-gradient(
      141.73% 105.23% at 50% -7.16%,
      #e1f8ff 0%,
      rgba(160, 198, 255, 0) 50.73%,
      rgba(162, 147, 255, 0) 100%
    ),
    radial-gradient(
      112.27% 48.54% at 1.59% 50%,
      rgba(255, 130, 227, 0.5) 0%,
      rgba(255, 123, 234, 0.095) 53.91%,
      rgba(254, 216, 255, 0) 100%
    ),
    linear-gradient(153.07deg, #8177f3 6.37%, rgba(255, 230, 166, 0) 83.82%);
  background-blend-mode: normal, normal, normal, normal, normal, normal;
  filter: blur(100px);
}
